*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing:border-box;
}

/*font used*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
/*Body Starts*/
body{
	background-color: #39C;
}
/*Body Ends*/
.main_wrapper{
	width: 100%;
	height: 100%;
	margin: auto;
	background: #000000;
}



/*Navigation Bar Starts*/
header
{

	width: 100%;
	height: 60px;
	background-color: #282828;
	
}
h1{
	font-family: 'Revalia', cursive;
	position: absolute;
	padding: 3px;
	float: left;
	margin-left: 2%;
	margin-top: 10px;
	color: #ff471a;
	font-size: 30px;

}
span{
	color:#ffffff;
}
ul{
	width: auto;
	float: right;
	margin-top: 8px;

}
li{
	display: inline-block;
	padding: 5px 30px;
	
}
ul li.extra{
	padding-right: 200px;
}

a{
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2vw;

}
a:hover{
	color: #F0c330;
	transition: 0.5s;

}
/*Navigation Bar Ends*/
/*Search box*/
#search-btn {
background:#0099ff;
color:white;
font: 'trebuchet ms', trebuchet;
padding:10px 20px;
border-radius:0 5px 5px 0;
-moz-border-radius:0 5px 5px 0;
-webkit-border-radius:0 5px 5px 0;
-o-border-radius:0 5px 5px 0;
border:0 none;
font-weight:bold;
}
 
#search-box {
background: #eee;
padding:10px;
 border-radius:5px 0 0 5px;
-moz-border-radius:5px 0 0 5px;
-webkit-border-radius:5px 0 0 5px;
-o-border-radius:5px 0 0 5px;
border:0 none;
width:160px;
 }
/*Content Area*/
.content_wrapper{
	width:100%;
	height: auto;
	background-color: #fff;

}
/*Right Display Content*/
#right_content{
	width: 100%;
	
	background-color: #E4F1FE;
	float:right;
}
/*Footer*/
.footer{
	background-color: #19B5FE;
	height: 30px;
}
.footer ul{
		float: left;
		padding-left: 20px;
		padding-bottom: 10px;
}
/*Categories Name edit*/

/*Search button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#282828;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.headline {
		background-color: #34495e;
		color: white;
		height: 35px;
		width: 100%;
		

	}
	.headline_content{
		float:right;
		padding-right: 10px;
		padding-top: 6px;
	}
.product_box{
		width: 100%;
		padding:10px;
		text-align: center;
		font-family: 'Open Sans', sans-serif;
		font-weight: 300;
		font-size:13px;

		
	}
	/*Products on right content*/
	.single_product{
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    	transition: 0.3s;
   	 	width: 18%;
   	 	float: left;
   	 	margin: 10px;
   	 	background-color: #D2D7D3;
   	 	border: 1px solid #6C7A89; 
   	 	
	}
	.single_product:hover{
		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}
	.single_product img{
		width: 100%;
	}
	.container{
		padding: 2px 16px;
	}
h3{
	color: black;
	font-size: 16px;
	}
.addtocart{

}
.inset li a:hover {
	border: 1px solid #b4b7bb;
	background: -moz-linear-gradient(#9c9fa2, #b4b7bb 1%, #cdd0d5 10%, #cdd0d5);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0, #9c9fa2),color-stop(.01, #b4b7bb),color-stop(.10, #cdd0d5),color-stop(1, #cdd0d5));
}

.inset li a img {
	height: 16px;
	left: 7px;
	margin-right: 7px;
	position: absolute;
	top: 7px;
	width: 16px;
	border:none;
}

.inset li a span {
	display: block;
	height: 22px;
	padding-right: 7px;
	overflow: hidden;
	/* width: 70px; Uncomment this to add a fixed width */
}
	
span.site { font-size: 14px; line-height: 20px; }

.addtocart {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
	background:-moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:-ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811',GradientType=0);
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.addtocart:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
	background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
	background-color:#5cb811;
}
.addtocart:active {
	position:relative;
	top:1px;
}


/*Manage Account */

.manage{
	width:15%;
	float:right;
	background-color: #1F3A93;
}
.sidebar_title{
	background: #1f3a93;
	color:#FFFFFF;
	padding: 20px;
	font-size: 18px;
}
.manage ul{
	list-style: none;
	margin:0;

}
.manage ul li{
	 padding: 15px;
	 position: relative;
	 width: 200px;
	 background-color: #1F3A93;
	 border-top: 1px solid #19B5FE;
	 border-left: 5px solid #00B16A;
}
.manage ul li a{
	text-decoration: none;
	color: #FFF;

}
.account{
	width: 100%;
	height: 100%;
}
.account h2{
style="background: #000; color:#FC9; padding: 10px; text-align: center; border-top: 2px solid #FFF;"
}
.textbox {
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #CCC;
    background-image: none;
    width: 270px;
}
 .textbox:focus {
    outline-color: #54B4AD;
}
.account{
	height: 100%;
	width: 75%;
}
.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 1300px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:24px;
  font-weight: 100;
  padding:5px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:5px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
td a{
	text-decoration: none;
	color: #666B85;
}
input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
   } 